<h1>Create article</h1>

<form method="post">
    <label for="name">Name</label>
    <input type="text" name="slug" id="name" placeholder="Articel title">

    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" placeholder="Articel slug">

    <label for="image">Name</label>
    <input type="text" name="slug" id="image" placeholder="Articel image">

    <label for="body"></label>
    <textarea name="body" id="body" placeholder="Articel body"></textarea>

    <button>Publish</button>
</form>